{% include "header.html" %}

<div class="overlay">
        <div id="breadcrumb" class="hoc clear">
            <h6 class="heading">{{tipo}}</h6>
            <ul>
                <li><a href=" {{url_for('home') }}">Home</a></li>

                <li><a href="{{url_for('propiedades', propiedad=propiedad)}}">{{propiedad}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear">
    <section class="group">
          <div class="one_half first">
              <div id="carouselExample" class="carousel slide ">
                  <div class="carousel-inner" style="height: 700px; ">
                    <div class="carousel-item active">
                      <img src="/static/images/propiedades/carballo 589/portada carballo.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/Ingreso 2.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/7-2  (1).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/8-1 (6) (1).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/8-1 (11).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/7-2  (2).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/8-1 (3).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/8-1 (18).JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/propiedades/carballo 589/Balcon.JPG" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
          <div class="one_half">
            <ul class="nospace group inspace-15">
              <li class="btmspace-50">
                <article>
                  <h5 class="heading" style="color:#6F846F; font-size: 40px" >Precio u$s125.000</h5>
                  <h6 class="heading" style="color: #6F846F">Descripcion.</h6>
                  <p class="nospace">Edificio ubicado en Puerto Norte, cercana a la zona centro de la ciudad y su privilegiada vista al rio, hacen de este barrio uno de los lugares mas atractivos de Rosario. <br>
                  Opcional cochera</p>
                </article>
              </li>
              <li class="btmspace-50">
                <article>
                  <h6 class="heading" style="color: #6F846F">Comodidades.</h6>
                    <ul>
                        <li>Cocina semi integrada, con piso de porcelanato, bajo mesada y alacena, y espacio para conexión de lavarropas. <br> </li>
                        <li>Puertas ventas que dan al balcón con vista privilegiada. </li>
                        <li>Persianas eléctricas. </li>
                        <li>Dormitorio principal con piso flotante, placard con puertas corredizas, una con espejo de piso a techo. </li>
                        <li>Segundo dormitorio, piso flotante, ventana con persiana de PVC. </li>
                        <li>Segundo dormitorio, piso flotante, ventana con persiana de PVC. </li>
                        <li>Baño: completo, piso de porcelanato, bañera. </li>
                        <li>Gas Natural. </li>
                    <ul/>
                </article>
              </li>
              <li class="one_half first">
                <article>
                  <h6 class="heading"><a href="#">Descripcion.</a></h6>
                  <p class="nospace">Texto&hellip;</p>
                </article>
              </li>
              <li class="one_half">
                <article>
                  <h6 class="heading"><a href="#">Descripcion.</a></h6>
                  <p class="nospace">Texto&hellip;</p>
                </article>
              </li>
            </ul>
          </div>

    </section>


  </main>
    <section class="group" style="background: #6F846F;">
    <div class="container" style="">

        <div id="comments">
          <h2>Dejanos tus consultas</h2>
          <form action="" method="post">
            <div class="one_third first">
              <label for="name">Nombre <span>*</span></label>
              <input type="text" name="name" id="name" value="" size="22" required>
            </div>
            <div class="one_third">
              <label for="email">Email <span>*</span></label>
              <input type="email" name="email" id="email" value="" size="22" required>
            </div>
            <div class="one_third first">
              <label for="name">Telefono <span>*</span></label>
              <input type="text" name="phone" id="phone" value="" size="22" required>
            </div>
            <div class="block clear">
              <label for="comment">Tu mensaje</label>
              <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
            </div>
            <div>
              <input type="submit" name="submit" value="Enviar" >
              &nbsp;
              <input type="reset" name="reset" value="Borrar">
            </div>
          </form>
        </div>
      </div>

  </section>
</div>
{% include "footer.html" %}