{% include "header.html" %}

    <div class="overlay">
        <div id="breadcrumb" class="hoc clear">
            <h6 class="heading">{{tipo}}</h6>
            <ul>
                <li><a href=" {{url_for('home') }}">Home</a></li>
                <li><a href="{{url_for('tipo', tipo=tipo)}}">{{tipo}}</a></li>
            </ul>
        </div>
        <main class="hoc container clear">
    <div class="content">
        <div id="gallery">
            <figure>
                <ul class="nospace clear">
                    <li class="one_half first">
                        <figure><a class="imgover" href="{{url_for('tipo', tipo='ventas')}}"><img src="/static/images/baners/5.png" alt=""></a>
                        </figure>
                    </li>
                    <li class="one_half">
                        <figure><a class="imgover" href="{{url_for('tipo', tipo='alquileres')}}"><img src="/static/images/baners/6.png" alt=""></a>
                        </figure>
                    </li>
                </ul>
            </figure>
        </div>
    </div>
<!--    <div class="clear">-->
<!--    </div>-->
  </main>
    </div>
</div>
<div class="wrapper row3 overlay" >

</div>

{% include "footer.html" %}