<div class="wrapper coloured">
  <section id="ctdetails" class="hoc clear">
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href=""><i class="fas fa-phone"></i></a> <span><strong>Comunicate con nosotros:</strong> +54 (341) 625 3337</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="mailto:contacto@carvajalpropiedades.com.ar?subject=Consulta"><i class="fas fa-envelope"></i></a> <span><strong>Nuestro mail:</strong><a href="mailto:contacto@carvajalpropiedades.com.ar?subject=Consulta" style="color:#FFFFFF">contacto@carvajalpropiedades.com.ar</a></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href=""><i class="fas fa-clock"></i></a> <span><strong>De Lunes a Viernes:</strong> 09.00am - 17.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="https://www.google.com/maps/place/Servando+Bayo+931,+S2000+Rosario,+Santa+Fe/@-32.9398646,-60.6848329,17z/data=!3m1!4b1!4m6!3m5!1s0x95b7acae740b7a5f:0xd8a46bc4c3b8213e!8m2!3d-32.9398646!4d-60.6848329!16s%2Fg%2F11jdzwgzhv?entry=ttu"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Nuestras oficinas:</strong>Ubicadas en <a href="https://www.google.com/maps/place/Servando+Bayo+931,+S2000+Rosario,+Santa+Fe/@-32.9398646,-60.6848329,17z/data=!3m1!4b1!4m6!3m5!1s0x95b7acae740b7a5f:0xd8a46bc4c3b8213e!8m2!3d-32.9398646!4d-60.6848329!16s%2Fg%2F11jdzwgzhv?entry=ttu">Servando Bayo 931 PB</a></span></div>
      </li>
    </ul>
  </section>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - <a href="#">Facundo Somnier</a></p>
    <p class="fl_right">Website by <a href="YOURURL">Somnier Facundo</a> & <a href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<script src="/static/layout/scripts/jquery.min.js"></script>
<script src="/static/layout/scripts/jquery.backtotop.js"></script>
<script src="/static/layout/scripts/jquery.mobilemenu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>