{% include "header.html" %}
<div class="overlay">
    <div id="pageintro" class="hoc clear">
      <!-- ################################################################################################ -->
      <article>
        <h3 class="heading">Karina Carvajal Propiedades</h3>
        <p>Somos una inmobiliaria en continuo crecimiento, nos distinguimos en la calidad de los servicios a nuestros
          clientes, ofreciendo servicios personalizados, con la transparencia, confianza y seriedad que se merecen.</p>
        <footer><a class="btn" href="{{url_for('catalogo')}}">Catalogo</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="imgover" href="#"><img src="/static/images/destacado/9 de julio.jpg" alt=""></a>
            <figcaption>
              <h6 class="heading">9 de julio 2477</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/static/images/carballo 589.jpg" alt=""></a>
            <figcaption>
              <h6 class="heading">Carballo 589</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/static/images/destacado/alberdi 2157 Funes.jpeg" alt=""></a>
            <figcaption>
              <h6 class="heading">Alberdi 2157 Funes</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="/static/images/LOGO BLANCO.jpg" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper bgded overlay" style="background-image:url('/static/images/fondo personas.jpg');">
  <section id="testimonials" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs"></p>
      <p class="heading underline font-x2">Nuestro Equipo de trabajo</p>
    </div>
    <article class="btmspace-80">
<!--      <blockquote>Pellentesque ipsum pede malesuada non vulputate at euismod et lorem nullam tincidunt urna eget nisl eleifend vulputate sed vitae risus sed enim fermentum venenatis sed augue eros tempor sit amet.</blockquote>-->
      <figure class="clear btmspace-30"><img class="imgover" src="/static/images/foto mama.jpg" alt="" style="width:200px;">
        <figcaption>
          <h6 class="heading">Karina Carvajal</h6>
          <em>Dueña</em></figcaption>
      </figure>
      <p></p>
      <div class="one_third first">
      <figure class="clear center"><img class="imgover"  src="/static/images/Foto aylen 2.jpg" alt="" style="width:100px;">
        <figcaption>
          <h6 class="heading">Aylen Perez</h6>
          <em>Community Manager</em></figcaption>
      </figure>
      </div>
      <div class="one_third">
      <figure class="clear center"><img class="imgover"  src="/static/images/Foto aylen 2.jpg" alt="" style="width:100px;">
        <figcaption>
          <h6 class="heading">Facundo Somnier</h6>
          <em>Encargado Administrativo</em></figcaption>
      </figure>
      </div>
      <div class="one_third">
      <figure class="clear center"><img class="imgover"  src="/static/images/Foto aylen 2.jpg" alt="" style="width:100px;">
        <figcaption>
          <h6 class="heading">Cristian Somnier</h6>
          <em>Gerencia</em></figcaption>
      </figure>
      </div>

    </article>
<!--    <footer class="center"><a class="btn" href="#">More Testimonials</a></footer>-->
    <!-- ################################################################################################ -->
  </section>
</div>
{% include "footer.html" %}