{% include "header.html" %}
<div class="overlay">
    <div id="pageintro" class="hoc clear">
      <!-- ################################################################################################ -->
      <article>
        <h3 class="heading">Karina Carvajal Propiedades</h3>
        <p>Somos una inmobiliaria en continuo crecimiento, nos distinguimos en la calidad de los servicios a nuestros
          clientes, ofreciendo servicios personalizados, con la transparencia, confianza y seriedad que se merecen.</p>
        <footer><a class="btn" href="#">Catalogo</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="imgover" href="#"><img src="/static/images/9 de julio.jpg" alt=""></a>
            <figcaption>
              <h6 class="heading">9 de julio 2477</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/static/images/carballo 589.jpg" alt=""></a>
            <figcaption>
              <h6 class="heading">Carballo 589</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/static/images/alberdi 2157 Funes.jpeg" alt=""></a>
            <figcaption>
              <h6 class="heading">Alberdi 2157 Funes</h6>
              <div>
                <p>Descripcion.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="/static/images/LOGO BLANCO.jpg" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">Descripcion.</a></h6>
              <p class="nospace">Texto&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% include "footer.html" %}