{% include "header.html" %}

    <div class="overlay">
        <div id="breadcrumb" class="hoc clear">
            <h6 class="heading">{{tipo}}</h6>
            <ul>
                <li><a href=" {{url_for('home') }}">Home</a></li>
                <li><a href="{{url_for('tipo', tipo=tipo)}}">{{tipo}}</a></li>
                <li><a href="{{url_for('plantilla', tipo=tipo, clase=clase)}}">{{clase}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content">
      <div id="gallery">
        <figure>
            <ul class="nospace clear">

                <li class="one_quarter first center"> <a class="imgover" href="{{url_for('propiedades', tipo=tipo, clase=clase, propiedad='9 de julio')}}"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>

                <li class="one_quarter first center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>
                <li class="one_quarter  center"> <a class="imgover" href="#"><img src="../../static/images/carballo 589.jpg" alt=""></a>
                        <h6 class="heading" style="padding:5px"> carballo 589</h6>
                </li>

              </ul>
        </figure>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>

{% include "footer.html" %}